{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block wrapper %}
<section class="slider" >
	<div class="container">
		<div class="row">
			<div class="col-lg-9 col-md-10">
				<div class="block">
					<span class="d-block mb-3 text-white text-capitalize">Global Marketing</span>
					<h1 class="animated fadeInUp mb-5">Agence conseil en communication,<br> marketing & publicité.</h1>
					<a href="#" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Plus d'infos<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
				
			</div>
		</div>
		
	</div>
</section>
<!-- Section Intro Start -->

<section class="section intro">
	<div class="container">
		<div class="row ">
			<div class="col-lg-10">
				<div class="section-title">
					<span class="h6 text-color ">Notre passion est d’être pour vous</span>
					<h2 class="mt-3 content-title">Nous sommes le partenaire idéal pour une position privilégiée sur votre marché.</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<i class="ti-direction-alt color-one"></i>
					<h4 class="mt-4 mb-3">Equipe pluridisciplinaire</h4>
					<p>Jeune et dynamique, fondue dans un Comité de Réflexion Stratégique en Marketing</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item mb-5 mb-lg-0">
					<i class="ti-shopping-cart-full color-one"></i> 
					<h4 class="mt-4 mb-3">Equipement opérationnel</h4>
					<p>De dernière génération permettant d'assurer la couverture logistique de tous vos évènements</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-tablet color-one"></i>
					<h4 class="mt-4 mb-3">Département technologique</h4>
					<p>Qui engloble la production audiovisuelle, l'infographie et le digital</p>
				</div>
			</div> 
		</div>
		<div class="row justify-content-start">
			<div class="col-lg-4 col-md-6 col-12">
				<div class="intro-item mb-5 mb-lg-0"> 
					<i class="ti-blackboard color-one"></i>
					<h4 class="mt-4 mb-3">Implémentations de qualités</h4>
					<p>Assurée par le savoir faire et la disponibilité des chefs de projets dédiés et des équipes expérimentées</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-layers-alt color-one"></i>
					<h4 class="mt-4 mb-3">Créativité</h4>
					<p>Une équipe créative qui apportera des idées novatrices à vos projets et évènements</p>
				</div>
			</div> 
			<div class="col-lg-4 col-md-6">
				<div class="intro-item">
					<i class="ti-timer color-one"></i>
					<h4 class="mt-4 mb-3">Respect des délais</h4>
					<p>Un sens évélé de la ponctualité et du respect des délais</p>
				</div>
			</div> 
		</div>
	</div>
</section>

<section class="section cta17">
	<div class="container">
		<div class="row justify-content-start">
			<div class="col-lg-5">
				<div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">Participez à vos évènements</span>
					<h2 class="mt-2 mb-4">Recrutements </h2>
					<p class="lead mb-4">Nous avons besoin d'hotesses pouvant assurer la couverture de nos évènements. Inscrivez vous via le lien ci-dessous</p>
					<a href="#" class="btn btn-main btn-round-full">Inscription</a>
					<!-- <h3><i class="ti-mobile mr-3 text-color"></i>+225 010 222 2787</h3>-->
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section Intro END -->
<!-- Section About Start -->
<section class="section about-2 position-relative">
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="about-item pr-3 mb-5 mb-lg-0">
					<span class="h6 text-color">Qui sommes-nous?</span>
					<h2 class="mt-3 mb-4 position-relative content-title">Nous sommes une équipe dynamique et créative</h2>
					<p class="mb-5">L’idée de MEDIAPOLIS nous est venue, de notre volonté de mettre à la disposition des entreprises, et
						particulièrement des multinationales, un relai fiable pour leurs activités de marketing (connaissance des marchés,
						conseil, promotion)</p>

					<a href="#" class="btn btn-main btn-round-full">En savoir plus</a>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="about-item-img">
					<img src="{{ asset('assets/images/about/home-7.jpg') }}" alt="" class="img-fluid">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Section About End -->
<!-- section Counter Start -->
<section class="section counter">
	<div class="container">
		<!-- <div class="row ">
			<div class="col-lg-10">
				<div class="section-title">
					<span class="h6 text-color ">Quelques chiffres</span>
				</div>
			</div>
		</div> -->
		<div class="row">
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">10000</span> +</h3>
					<p class="text-muted">Projets réalisés</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">150 </span> +</h3>
					<p class="text-muted">Employés et intermittents</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center mb-5 mb-lg-0">
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">50</span> +</h3>
					<p class="text-muted">Partenaires dans le monde</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
				<div class="counter-item text-center">
					<h3 class="mb-0"><span class="counter-stat font-weight-bold">5000</span> +</h3>
					<p class="text-muted">Evènements couverts</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- section Counter End  -->
<!--  Section Services Start -->
<section class="section service border-top">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<span class="h6 text-color">Nos offres</span>
					<h2 class="mt-3 content-title ">Nous couvrons l'ensemble des domaines de la communication</h2>
				</div>
			</div>
		</div>
		<div class="row justify-content-start">
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="service-item mb-5">
						<i class="ti-stats-up"></i>
						<h4 class="mb-3">Offres stratégiques</h4>
						<p>Stratégie Marketing, étude de marchés, plan média et hors média, audiovisuel, digital et publicité, stratégie de lancement</p>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="service-item mb-5">
						<i class="ti-mobile"></i>
						<h4 class="mb-3">Offres technologiques</h4>
						<p>Infographie, publi-reportage, communication digitale</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-12 col-sm-12">
				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="service-item mb-5">
						<i class="ti-bar-chart"></i>
						<h4 class="mb-3">Offres opérationnelles</h4>
						<p>Concerts et roadshows, parades, évènementiel, animations commerciales, ventes commandos</p>
					</div>
				</div>

				<div class="col-lg-12 col-md-12 col-sm-12">
					<div class="service-item mb-5 mb-lg-0">
						<i class="ti-music-alt"></i>
						<h4 class="mb-3">Offres music event</h4>
						<p>Conception et réalisation d'évènements de tout type, logistique pour évènements</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--  Section Services End -->
 <!-- Section Cta Start --> 
<section class="section cta15">
	<div class="container">
		<div class="row justify-content-end">
			 
			<div class="col-lg-5">
				<!-- <div class="cta-item  bg-white p-5 rounded">
					<span class="h6 text-color">Nous nous occupons de tout</span>
					<h2 class="mt-2 mb-4">Vitae fugiat odit eos quis assumenda </h2>
					<p class="lead mb-4">Dolor sit amet consectetur adipisicing elit. Iure aliquid recusandae nam animi. At similique vero nihil, exercitationem quod non amet. Dicta quaerat expedita</p>
					<h3><i class="ti-mobile mr-3 text-color"></i>+225 010 222 2787</h3>
				</div>-->
			</div>
		</div>
	</div>
</section>
<!--  Section Cta End-->
<!-- Section Testimonial Start -->
<section class="section testimonial">
	<div class="container">
		<div class="row">
			<div class="col-lg-7 ">
				<div class="section-title">
					<span class="h6 text-color">Témoignages de nos clients</span>
					<h2 class="mt-3 content-title">Vérifiez ce que nos clients disent de nous</h2>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row testimonial-wrap">
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti facilis blanditiis.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Thomas Johnson</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae numquam corrupti.</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">James Watson</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
			<div class="testimonial-item position-relative">
				<i class="ti-quote-left text-color"></i>

				<div class="testimonial-item-content">
					<p class="testimonial-text">Consectetur adipisicing elit. Quam maiores perspiciatis temporibus odio reiciendis error alias debitis atque consequuntur natus iusto recusandae .</p>

					<div class="testimonial-author">
						<h5 class="mb-0 text-capitalize">Mickel hussy</h5>
						<p>Excutive Director,themefisher</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="section portfolio pb-0">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-12 text-center">
				<div class="section-title">
					<span class="h6 text-color">Nous sommes accompagnés par divers partenaires</span>
					<h3 class="mt-3 content-title ">Nos partenaires</h3>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">
		<div class="row portfolio-gallery clients-logo">
        {% for p in partners %}
			<div class="col-lg-3 col-md-4">
				<div class="portflio-item position-relative mb-4">
					<a href="{{ asset('assets/images/partenaires/' ~ p.url) }}" class="popup-gallery">
						<img src="{{ asset('assets/images/partenaires/' ~ p.url) }}" alt="" class="img-fluid w-100">

						<i class="ti-plus overlay-item"></i>
						<div class="portfolio-item-content">
							<h3 class="mb-0 text-white">Project california</h3>
							<p class="text-white-50">Web Development</p>
						</div>
					</a>
				</div>
			</div>
        {% endfor %}
		</div>
	</div>
</section>

<!-- Section Testimonial End -->
<section class="section latest-blog bg-2">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<!-- <span class="h6 text-color">Latest News</span> -->
					<h2 class="mt-3 content-title text-white">Les derniers articles sur nos activités</h2>
				</div>
			</div>
		</div>

		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card bg-transparent border-0">
					<img src="{{ asset('assets/images/galerie/marketing_operationel/20.jpg') }}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">2021<span class="ml-2 mr-2"></span></a>
						</div> 

						<h6 class="mt-3 mb-1 lh-36 "><a href="#" class="text-muted fs-6">NESTLE CI / NESCAFE</a></h6>
						<h3 class="mt-1 mb-5 lh-36"><a href="#" class="text-white ">Ventes promotionnelles et scénarisation en supermarché</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{{ asset('assets/images/galerie/marketing_operationel/13.jpeg') }}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">2019<span class="ml-2 mr-2">/</span></a>
						</div>  
						<h6 class="mt-3 mb-1 lh-36 "><a href="#" class="text-muted fs-6">UNILEVER CI / REXONA</a></h6>
						<h3 class="mt-1 mb-5 lh-36"><a href="#" class="text-white ">Happy Run - Sponsoring avec activation d’un point</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 mb-5">
				<div class="card border-0 bg-transparent">
					<img src="{{ asset('assets/images/galerie/marketing_operationel/07.jpeg') }}" alt="" class="img-fluid rounded">

					<div class="card-body mt-2">
						<div class="blog-item-meta">
							<a href="#" class="text-white-50">2020<span class="ml-2 mr-2">/</span></a>
						</div> 
						
						<h6 class="mt-3 mb-1 lh-36 "><a href="#" class="text-muted fs-6">NESTLE / MILO</a></h6>
						<h3 class="mt-1 mb-5 lh-36"><a href="#" class="text-white ">Milo cross mère enfant - Cross populaire dans la commune de Cocody</a></h3>

						<a href="blog-single.html" class="btn btn-small btn-solid-border btn-round-full text-white">Lire la suite</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="mt-70 position-relative">
	<div class="container">
	<div class="cta-block-2 bg-gray p-5 rounded border-1">
		<div class="row justify-content-center align-items-center ">
			<div class="col-lg-7">
				<span class="text-color">Pour tout type de projets marketing - communication</span>
				<h2 class="mt-2 mb-4 mb-lg-0">Faites confiance à notre équipe de professionnels</h2>
			</div>
			<div class="col-lg-4">
				<a href="contact.html" class="btn btn-main btn-round-full float-lg-right ">Contactez nous</a>
			</div>
		</div>
	</div>
</div>

</section>
{% endblock %}
